<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.practice.test.service.TestMapper">

	<!--게시글 목록 조회 -->
	<select id="selectTest" resultType="TestVO">
		SELECT
		*
		FROM test
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='si' and keyword != null and keyword != '' ">
				AND si like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchType=='gungu' and keyword != null and keyword != '' ">
				AND gungu like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchType=='kinds' and keyword != null and keyword != '' ">
				AND kinds like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		ORDER BY
		no DESC
	</select>


	<select id="selectKinds" resultType="SigunguVO">
		select
		distinct kinds
		from
		sigungu
		order by kinds asc
	</select>

	<select id="selectSi" resultType="SigunguVO">
		select
		distinct si
		from
		sigungu
		order by si asc
	</select>

	<select id="selectGungu" resultType="SigunguVO">
		select
		distinct gungu
		from
		sigungu order by gungu asc
	</select>

	<select id="selectDong" resultType="SigunguVO">
		select
		distinct dong
		from
		sigungu order by dong asc
	</select>

	<!--게시글 삽입 -->
	<insert id="insertTest" parameterType="TestVO">
		<![CDATA[
		insert into test
("bTotal","bActual","bIe","bIndomi","bEtc","bUnme","bEvalue","bStatus","aTotal","aActual","aIe","aStatus","aIndomi","aEtc","aUnme","aEvalue","kinds","si","gungu","name","phoneNumber","bEtcEx","aEtcEx","file_name")
VALUES(#{bTotal},#{bActual},#{bIe},#{bIndomi},#{bEtc},#{bUnme},#{bEvalue},#{bStatus},#{aTotal},#{aActual},#{aIe},#{aStatus},#{aIndomi},#{aEtc},#{aUnme},#{aEvalue},#{kinds},#{si},#{gungu},#{name},#{phoneNumber},#{bEtcEx},#{aEtcEx},#{fileName})
		]]>
	</insert>

	<!--게시글 클릭시 detailView -->
	<select id="selectDetail"
		parameterType="egovframework.practice.test.domain.TestVO"
		resultType="egovframework.practice.test.domain.TestVO">
		<![CDATA[
			select *
			from test
			where no = #{no}
		]]>
	</select>

	<!--게시글 업데이트 -->
	<update id="updateTest">

		UPDATE test
		SET
		"bTotal" = #{bTotal}
		,"bActual" = #{bActual}
		,"bIe" = #{bIe}
		,"bIndomi" = #{bIndomi}
		,"bEtc" = #{bEtc}
		,"bUnme" = #{bUnme}
		,"bEvalue" = #{bEvalue}
		,"bStatus"=#{bStatus}
		,"aTotal" = #{aTotal}
		,"aActual" = #{aActual}
		,"aIe" = #{aIe}
		,"aStatus"=#{aStatus}
		,"aIndomi" = #{aIndomi}
		,"aEtc" = #{aEtc}
		,"aUnme" = #{aUnme}
		,"aEvalue" = #{aEvalue}
		,"kinds" = #{kinds}
		,"si" = #{si}
		,"gungu" = #{gungu}
		,"name" = #{name}
		,"phoneNumber" = #{phoneNumber}
		,"bEtcEx" = #{bEtcEx}
		,"aEtcEx" = #{aEtcEx}
		where no = #{no}
	</update>

	<!--게시글 삭제 -->
	<delete id="deleteTest">
		delete from test
		where no = #{no}
	</delete>

</mapper> 