<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="egovframework.practice.test.service.TestMapper">

	<select id="selectTest" resultType="TestVO">
		SELECT
		*
		FROM test
	</select>

	<select id="selectKinds" resultType="SigunguVO">
		SELECT
		distinct kinds
		FROM
		sigungu
		order by kinds asc
	</select>

	<select id="selectSi" resultType="SigunguVO">
		SELECT
		distinct si
		FROM
		sigungu
		order by si asc
	</select>

	<select id="selectGungu" resultType="SigunguVO">
		SELECT
		distinct gungu
		FROM
		sigungu order by gungu asc
	</select>

	<select id="selectDong" resultType="SigunguVO">
		SELECT
		distinct dong
		FROM
		sigungu order by dong asc
	</select>
	<!--게시글 삽입 -->
	<insert id="insertTest" parameterType="TestVO">
		<![CDATA[
		INSERT INTO test
("bTotal", "bActual", "bIe", "bIndomi", "bEtc", "bUnme", "bEvalue", "aTotal", "aActual", "aIe",  "aIndomi", "aEtc", "aUnme", "aEvalue", kinds, si, gungu, "name", "phoneNumber", "bEtcEx", "aEtcEx")
VALUES(#{bTotal},#{bActual},#{bIe},#{bIndomi},#{bEtc},#{bUnme}, #{bEvalue},  #{aTotal}, #{aActual}, #{aIe},  #{aIndomi},#{aEtc}, #{aUnme}, #{aEvalue}, #{kinds},#{si},#{gungu}, #{name},#{phoneNumber}, #{bEtcEx}, #{aEtcEx})
		
		]]>
	</insert>

	<!--게시글 클릭시 detailView -->
	<select id="selectDetail"
		parameterType="egovframework.practice.test.domain.TestVO"
		resultType="egovframework.practice.test.domain.TestVO">
		<![CDATA[
			SELECT *
			FROM test
			WHERE "no" = #{no}
		]]>
	</select>

	<!--게시글 업데이트 -->
	<update id="updateTest">
		update test set
		"name" = #{name}
		,"phoneNumber" = #{phoneNumber}
		,"bEtcEx" = #{bEtcEx}
		,"aEtcEx" = #{aEtcEx}
		,"kinds" = #{kinds}
		,"si" = #{si}
		,"gungu" = #{gungu}
		,"bTotal" = #{bTotal}
		,"bActual" = #{bActual}
		,"bIe"= #{bIe}
		,"bIndomi"= #{bIndomi}
		,"bEtc" = #{bEtc}
		,"bUnme" = #{bUnme}
		,"bEvalue" =#{bEvalue}
		<!-- ,"bStatus" = #{bStatus} -->
		,"aTotal" = #{aTotal}
		,"aActual" = #{aActual}
		,"aIe" = #{aIe}
		<!-- ,"aStatus" = #{aStatus} -->
		,"aIndomi" = #{aIndomi}
		,"aEtc" = #{aEtc}
		,"aUnme" = #{aUnme}
		,"aEvalue"
		= #{aEvalue}
		where "no" = #{no}
	</update>

	<!--게시글 삭제 -->
	<delete id="deleteTest">
		delete from test
		where
		"no" = #{no}
	</delete>

</mapper> 